@charset "UTF-8";

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 22px; /*Tamanho da Fonte*/
    text-align: center; /*Alinhamento de texto*/
}
h2 {
    font-size: 18px;
    color: #88100f; /*Cor da Fonte*/
    font-weight: normal; /*Tirar o negrito do texto*/
    text-align: center;
}
h3 {
    font-size: 16px;
    text-decoration: underline; /*Texto Sublinhado*/
    color: #88100f;
}
p {
    font-size: 14px;
    line-height: 28px; /*Altura da Linha*/
}